## Program 1: Find the sum and average of elements in a list.

- Create a list of numbers.
- Calculate and print the sum of all elements.
- Calculate and print the average of the list.

In [1]:
first_list=[10,20,30,50,90]
sum=sum(first_list)
average = sum/len(first_list)
print("The items availabe in the list", first_list)
print("The sum of items", sum)
print("The average of the list item is ", average)

The items availabe in the list [10, 20, 30, 50, 90]
The sum of items 200
The average of the list item is  40.0

## Program 2: Remove duplicates from a list.

- Create a list with duplicate elements.
- Remove the duplicates and print the updated list.

In [2]:
list12=[10,20,20,30,50,50,20,90,30]
unique_num= list(set(list12)) # converted list to set and the set to list 
print("Orignal list:", list12)
print("The list with unique value", unique_num)

Orignal list: [10, 20, 20, 30, 50, 50, 20, 90, 30]
The list with unique value [10, 50, 20, 90, 30]

## Program 3: Find the largest and smallest elements in a list.

- Create a list of numbers.
- Find and print the largest and smallest numbers in the list.

In [3]:
list23=[95,86,93,52,25,98,65]
minimum=min(list23)
maximum= max(list23)
print("The orignal list is", list23)
print("The minimum value is", minimum)
print("The maximum value is ", maximum)

The orignal list is [95, 86, 93, 52, 25, 98, 65]
The minimum value is 25
The maximum value is  98

## Program 4: Sort a list in ascending and descending order.

- Create a list of random numbers.
- Sort the list in ascending order and print it.
- Sort the list in descending order and print it.

In [4]:
list23=[95,86,93,52,25,98,65]
asc=sorted(list23)
dsc= sorted(list23, reverse=True)
print("Original list is ", list23)
print("The ascending order of the is ", asc)
print("The list in descending is", dsc)

Original list is  [95, 86, 93, 52, 25, 98, 65]
The ascending order of the is  [25, 52, 65, 86, 93, 95, 98]
The list in descending is [98, 95, 93, 86, 65, 52, 25]

## Program 1: Set operations (union, intersection, difference).

- Create two sets of numbers.
- Find and print the union of the two sets.
- Find and print the intersection of the two sets.
- Find and print the difference between the two sets.

In [6]:
set1={10,12,13,15,98,53}
set2={75,85,93,25,85,63,50,90}
unionset=set1.union(set2)
intersetset=set1.intersection(set2)
diffset= set2.difference(set1)
print("Set1 is", set1)
print("Set 2 is", set2)
print("The union of set 1 and set 2 is ", unionset)
print("The intersection of set1 and set2 is ", intersetset)
print("The difference of set1 and set2 is ", diffset)

Set1 is {98, 53, 10, 12, 13, 15}
Set 2 is {50, 85, 25, 90, 75, 93, 63}
The union of set 1 and set 2 is  {98, 10, 75, 12, 13, 15, 50, 53, 85, 25, 90, 93, 63}
The intersection of set1 and set2 is  set()
The difference of set1 and set2 is  {75, 50, 85, 25, 90, 93, 63}

### Program 2: Check if a set is a subset of another.

- Create two sets of numbers.
- Check if one set is a subset of the other and print the result.

In [8]:
set1={10,12,13,15,98,53}
set2={75,85,93,25,85,63,50,90}
set3={93,85,63}

checking=set3.issubset(set2)
print(checking)

True

## Program 1: Access and manipulate elements in a tuple.

- Create a tuple of numbers or strings.
- Access specific elements using indexing.
- Attempt to change an element (to demonstrate immutability).

In [12]:
tuple1=(95,859,86,95,63)
print(tuple1[0])
print(tuple1[-1])
tuple1[1]=958

95
63

TypeError: 'tuple' object does not support item assignment

In [13]:
tuple1=("Apple","Fruits","Grapes","Python","Learn")

In [14]:
a=tuple1[0]

In [15]:
a,b,c,d,e=tuple1

In [16]:
tuple1

('Apple', 'Fruits', 'Grapes', 'Python', 'Learn')

In [17]:
a

'Apple'

In [18]:
b

'Fruits'

In [19]:
c

'Grapes'

## Program 2: Find the length, maximum, and minimum in a tuple.

- Create a tuple of numbers.
- Find and print the length of the tuple.
- Find and print the maximum and minimum values in the tuple.

## Program 1: Count the frequency of elements in a list.

- Create a list of elements (numbers or strings).
- Create a dictionary to store the frequency of each element.
- Print the frequency of each element.

In [22]:
list12=["Apple","banana","Python","py","Py","py","banana","Py","Apple","Apple",75,85,75,85]
freq={}
for element in list12:
    if element in freq:
        freq[element]+=1 # values of the dictionary
    else:
        freq[element]=1 # adding key with value 1 "apple":1
    
print("List of the element is ", list12)
print(freq)
for key, value in freq.items():
    print(f"{key}:{value}")

List of the element is  ['Apple', 'banana', 'Python', 'py', 'Py', 'py', 'banana', 'Py', 'Apple', 'Apple', 75, 85, 75, 85]
{'Apple': 3, 'banana': 2, 'Python': 1, 'py': 2, 'Py': 2, 75: 2, 85: 2}
Apple:3
banana:2
Python:1
py:2
Py:2
75:2
85:2