break it in steps

1. input 
2. concept -- loops/conditional 
3. for and while 
4. iteration on list / condition for while loop
5. conditions from the questions
6. output required. 
7. think about making the output look good or in order.

# List
# Tuple 
# Set
# Dictionary

- List is 1 of the builtin datatype
- list can take any data type like string, number, floats
- List is ordered collection.
- indexing starts from 0 
- it is changeable/mutable
- it allows duplicate values.

- tuple is 1 of the builtin datatype 
- tuple can take any datatype like string numbers, float
- tuple item are also ordered.
- indexing starts from 0 
- tuple are unchangeable. immutable, 
- yes duplicates are allowed.

- Set is 1 of 4 datatype which is builtin 
- if you're writing true, and 1 in set then only one of the them can be stored. same is application to false and 0, in the case of false or 0, only one of the the value will be stored. 
- set is unordered.
- is immutable,/ unchangeable.
- can't store duplicates.

- dictionary 
- Can take any datatype
- is ordered
- is mutable/changeable/ 
- doesn't allow duplicates.

In [17]:
list1 =[95,86,956,963,852,"python","Learner",95.3,956,95, True, False]

In [4]:
type(list1)

list

In [5]:
print(list1)

[95, 86, 956, 963, 852, 'python', 'Learner', 95.3, 956, 95, True, False]

In [6]:
print(list1[0])

95

In [7]:
print(list1[1])

86

In [8]:
print(list1[2])

956

In [10]:
print(list1[-2])

True

In [11]:
print(list1[1:4])

[86, 956, 963]

In [12]:
print(list1[:5])

[95, 86, 956, 963, 852]

In [13]:
print(list1[:2])

[95, 86]

In [14]:
print(list1[5:])

['python', 'Learner', 95.3, 956, 95, True, False]

In [15]:
print(list1[-1:-5])

[]

In [21]:
print(list1[-5:-1])

[95.3, 956, 95, True]

In [24]:
list1[2]=852

In [25]:
list1

[95, 86, 852, 963, 852, 'python', 'Learner', 95.3, 956, 95, True, False]

In [26]:
list1[5:7]=["Mysql","Zoom"]

In [27]:
list1

[95, 86, 852, 963, 852, 'Mysql', 'Zoom', 95.3, 956, 95, True, False]

In [28]:
list1.insert(1,96)

In [30]:
list1

[95, 96, 86, 852, 963, 852, 'Mysql', 'Zoom', 95.3, 956, 95, True, False]

In [31]:
list1.append("Apple")

In [32]:
list1

[95,
 96,
 86,
 852,
 963,
 852,
 'Mysql',
 'Zoom',
 95.3,
 956,
 95,
 True,
 False,
 'Apple']

In [33]:
list2=["P","l","a"]

In [34]:
list1.extend(list2)

In [35]:
list1

[95,
 96,
 86,
 852,
 963,
 852,
 'Mysql',
 'Zoom',
 95.3,
 956,
 95,
 True,
 False,
 'Apple',
 'P',
 'l',
 'a']

In [36]:
list1.remove("Apple") #remove particular value when you know the value

In [37]:
list1

[95,
 96,
 86,
 852,
 963,
 852,
 'Mysql',
 'Zoom',
 95.3,
 956,
 95,
 True,
 False,
 'P',
 'l',
 'a']

In [38]:
del list1[6:8] # remove multiple values within a range

In [39]:
list1

[95, 96, 86, 852, 963, 852, 95.3, 956, 95, True, False, 'P', 'l', 'a']

In [40]:
list1.pop()

'a'

In [41]:
list1

[95, 96, 86, 852, 963, 852, 95.3, 956, 95, True, False, 'P', 'l']

In [42]:
list1.pop(4)

963

In [43]:
list1

[95, 96, 86, 852, 852, 95.3, 956, 95, True, False, 'P', 'l']

In [44]:
list1.clear()

In [46]:
print(list1)

[]

In [2]:
tuple1=(95, 96, 86, 852, 963, 852, 95.3, 956, 95, True, False, 'P', 'l', 'a')

In [48]:
type(tuple1)

tuple

In [49]:
len(tuple1)

14

In [50]:
tuple1[0]

95

In [51]:
tuple1[-1]

'a'

In [3]:
y=list(tuple1)

In [4]:
y

[95, 96, 86, 852, 963, 852, 95.3, 956, 95, True, False, 'P', 'l', 'a']

In [5]:
type(y)

list

In [6]:
y.append("MYSQL")

In [7]:
y

[95, 96, 86, 852, 963, 852, 95.3, 956, 95, True, False, 'P', 'l', 'a', 'MYSQL']

In [8]:
y[1]=97

In [9]:
y

[95, 97, 86, 852, 963, 852, 95.3, 956, 95, True, False, 'P', 'l', 'a', 'MYSQL']

In [10]:
tuple1=tuple(y)

In [11]:
tuple1

(95, 97, 86, 852, 963, 852, 95.3, 956, 95, True, False, 'P', 'l', 'a', 'MYSQL')

In [14]:
set1={95,96,38,69633,63.3,85.5, "Python",True,1, 0, False, 95,96}

In [15]:
print(set1)

{96, 69633, True, 0, 38, 85.5, 'Python', 95, 63.3}

In [18]:
b=set(list1)

In [19]:
b

{852, 86, 95, 95.3, 956, 963, False, 'Learner', True, 'python'}

In [21]:
print("Learners" in b)

False

In [22]:
b.add("Apple")

In [23]:
b

{852, 86, 95, 95.3, 956, 963, 'Apple', False, 'Learner', True, 'python'}

In [24]:
set1.update(b)

In [25]:
set1

{0,
 38,
 63.3,
 69633,
 85.5,
 852,
 86,
 95,
 95.3,
 956,
 96,
 963,
 'Apple',
 'Learner',
 'Python',
 True,
 'python'}

In [28]:
b.remove("False")

KeyError: 'False'

In [27]:
b

{852, 86, 95, 95.3, 956, 963, 'Apple', 'Learner', True, 'python'}

In [29]:
b.discard("False")

In [30]:
b.clear()

In [31]:
b

set()

key: value

"Name"       "Kushmika"
"Age"          9
"MArks"       98
"Blood group"  "A1"
"Grade"         ["A","B", "C"] 
"Revenue"        (123,234,345)
"Sales"         {98,85,65}

In [1]:
dict1={
    "Name"   :    "Kushmika",
"Age"         : 9,
"MArks"    :   98,
"Blood group" : "A1",
"Grade"        : ["A","B", "C"], 
"Revenue"       : (123,234,345),
"Sales"         :{98,85,65}
}

In [2]:
type(dict1)

dict

In [3]:
print(dict1.keys())

dict_keys(['Name', 'Age', 'MArks', 'Blood group', 'Grade', 'Revenue', 'Sales'])

In [4]:
print(dict1.values())

dict_values(['Kushmika', 9, 98, 'A1', ['A', 'B', 'C'], (123, 234, 345), {65, 98, 85}])

In [5]:
print(dict1.get("Name", "Grade"))

Kushmika

In [6]:
dict1["Name"]="Python"

In [7]:
dict1

{'Name': 'Python',
 'Age': 9,
 'MArks': 98,
 'Blood group': 'A1',
 'Grade': ['A', 'B', 'C'],
 'Revenue': (123, 234, 345),
 'Sales': {65, 85, 98}}

In [42]:
dict1.items()

dict_items([('Name', 'Python'), ('Age', 9), ('MArks', 98), ('Blood group', 'A1'), ('Grade', ['A', 'B', 'C']), ('Revenue', (123, 234, 345)), ('Sales', {65, 98, 85})])

In [43]:
dict1.update({"Name":"Coding"})

In [44]:
dict1

{'Name': 'Coding',
 'Age': 9,
 'MArks': 98,
 'Blood group': 'A1',
 'Grade': ['A', 'B', 'C'],
 'Revenue': (123, 234, 345),
 'Sales': {65, 85, 98}}

In [45]:
dict1["Color"]="Red"

In [46]:
dict1

{'Name': 'Coding',
 'Age': 9,
 'MArks': 98,
 'Blood group': 'A1',
 'Grade': ['A', 'B', 'C'],
 'Revenue': (123, 234, 345),
 'Sales': {65, 85, 98},
 'Color': 'Red'}

In [47]:
dict1.update({"Name1":"Codingdidi"})

In [48]:
dict1

{'Name': 'Coding',
 'Age': 9,
 'MArks': 98,
 'Blood group': 'A1',
 'Grade': ['A', 'B', 'C'],
 'Revenue': (123, 234, 345),
 'Sales': {65, 85, 98},
 'Color': 'Red',
 'Name1': 'Codingdidi'}

In [8]:
dict1.pop("MArks")

98

In [9]:
dict1

{'Name': 'Python',
 'Age': 9,
 'Blood group': 'A1',
 'Grade': ['A', 'B', 'C'],
 'Revenue': (123, 234, 345),
 'Sales': {65, 85, 98}}

In [11]:
dict1.popitem()

('Sales', {65, 85, 98})

In [12]:
dict1.clear()

In [13]:
dict1

{}