Commenting 

* single line-- #  
* Multiline--  """ text """, '''text'''

## Print function 

To displaying anything on the screen

In [3]:
print("Akansha Yadav")
print(956)
print()
print(956.36)

Akansha Yadav
956

956.36

In [5]:
print("Akansha Yadav","Felcy","Kushmika")
print("Akansha yadav",956,1176,"Felcy")

Akansha Yadav Felcy Kushmika
Akansha yadav 956 1176 Felcy

integers-- whole number 12,20,30,56,95, 
float-- decimal number 12.32,659.3
complex number -- imaginary number+real number --- 9j+5, 3k+2
strings-- text, character, special character, sentence, "", '', """ """

In [22]:
## print strings 

print("This is a double \nquote string.")
print('This \nis my statement.')
print("""This is a triple quote string,\n 
which can take \n
multiple
lines of text""")

This is a double
quote string.
This
is my statement.
This is a triple quote string,

which can take

multiple
lines of text

In [11]:
# Printing numbers

print('Age:-',42) #integer
print(3.1452) #float
print(2+3j) #Complex

Age:- 42
3.1452
(2+3j)

Sep= Customizing the seperator between values. 
end= Controlling the end of the line character

In [18]:
print("Felcy","Sekhar","Kushmika",sep="\t\t")

Felcy		Sekhar		Kushmika

In [21]:
print("Akansha Yadav","Felcy","Kushmika", end="\n")
print("Akansha yadav",956,1176,"Felcy")

Akansha Yadav Felcy Kushmika
Akansha yadav 956 1176 Felcy

\n -- new line
\t  --tab space

In [23]:
name="Akansha"

In [24]:
print(name)

Akansha

In [25]:
age=42

In [26]:
print(age)

42

In [27]:
correct=True

In [ ]:
1st_name
first_name

In [28]:
age=42
height=5.1
name="Anu"
type(age)

int

In [29]:
type(height)

float

In [30]:
type(name)

str

In [31]:
values=True

In [36]:
print(type(values))

<class 'bool'>

In [33]:
values1=False

In [35]:
print(type(values1))

<class 'bool'>

In [37]:
shopping_list = ["Apple","LAptop"]

In [39]:
print(type(shopping_list))

<class 'list'>

In [40]:
print(shopping_list)

['Apple', 'LAptop']

In [41]:
1+1

2

In [42]:
1231321546453 + 59463213

1231381009666

In [47]:
number1="1231321546453"
number2="59463213"

In [48]:
number1+number2

'123132154645359463213'

In [2]:
number1="1"
number2="1"
number1+number2

'11'

- Data types 
- Print
- Variable
- Write a program with variable, datatypes, basic mathematical operation, and display the output using print.