In [1]:
text= "Hello ! I am Learning. $"

In [2]:
print(text)

Hello ! I am Learning. $

In [3]:
text.startswith("Hello")

True

In [4]:
text.endswith("$")

True

In [6]:
# formatting string 

name= "Akansha"
age=96
print("Hello, my name is ", name "I am ",age," year old.")

SyntaxError: invalid syntax (1350027199.py, line 5)

In [9]:
print(f"Hello, my name is {name} and i am {age} year old")

Hello, my name is Akansha and i am 96 year old

In [12]:
# Formatting_string 
print("Hello! My name is {} and i am {} year old. sdjkfbskfbehfilwehfoi".format(name,age))

Hello! My name is Akansha and i am 96 year old. sdjkfbskfbehfilwehfoi

In [13]:
# string escaping 
print('hello's')

SyntaxError: unterminated string literal (detected at line 2) (1175502313.py, line 2)

In [15]:
print("dont't")

dont't

In [19]:
print("end's")

end's

In [21]:
print("don\\t")

don\t

In [22]:
# arithmetic operators 
num1= 16
num2=5

sum =num1+ num2
sub= num1-num2
product= num1*num2
div= num1/ num2
floow_divis= num1// num2
remainder= num1 % num2
exponent= num1**num2

print("sum",sum)
print("Subtarction",sub)
print("Multiplication", product)
print("The division value", div)
print("The floor division (quotient whole number)", floow_divis)
print("The remainder ", remainder)
print(" number 1 to the power of number 2 ", exponent)

sum 21
Subtarction 11
Multiplication 80
The division value 3.2
The floor division (quotient whole number) 3
The remainder  1
 number 1 to the power of number 2  1048576

In [23]:
#comparison operator
print(num1==num2) 
print(num1!=num2) 
print(num1<num2) 
print(num1>num2) 
print(num1<=num2) 
print(num1>=num2)

False
True
False
True
False
True

In [27]:
a= True

b= False

print( a and b)
print( a or b)
print( not a )

False
True
False

In [30]:
# assignment operator 
number=45
number= number+5
number+=5

In [34]:
print(number)

40

In [32]:
number=45
number-=5

In [36]:
# Bit wise operator 
x=12 # 1100
y=8  # 1000
# Bitwise AND operotor &
print(x & y)      1000

# bitwise Or operator | 
print(x|y)        1100

# bitwise XOR  ^
print(x^y)         0100


1 bytes= 8 bits


not
left shift
right shift

8
12
4

Number	Binary Number	Number	Binary Number	Number	Binary Number
1	1	11	1011	21	10101
2	10	12	1100	22	10110
3	11	13	1101	23	10111
4	100	14	1110	24	11000
5	101	15	1111	25	11001
6	110	16	10000	26	11010
7	111	17	10001	27	11011
8	1000	18	10010	28	11100
9	1001	19	10011	29	11101
10	1010	20	10100	30	11110